<div class="card" *ngIf="isLoading">
    <h4 class="card-header">Loading...</h4>
    <div class="card-block text-xs-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
    </div>
</div>

<div *ngIf="!isLoading">
    <container>
        <row>
            <column md=2>
                <h3>Назва</h3>
            </column>
            <column md=2>
                <h3>Дії</h3>
            </column>
        </row>
        <row *ngFor="let item of items">
            <column md=2>
                {{item.name}}
            </column>
            <column md=2>
                <button class="btn btn-sm btn-warning" (click)="enableEditing(item)">
                    <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteItem(item)">
                    <i class="fa fa-trash"></i>
                </button>
            </column>
        </row>
    </container>
</div>

<container *ngIf="isEditing">
    <row>
        <form class="form-inline" #form="ngForm" (ngSubmit)="editItem(item)" style="display:inline">
            <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="item.name" placeholder="Назва" required>
            </div>
            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
        </form>
        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
    </row>
</container>

<container *ngIf="!isEditing">
    <h4 class="card-header">Створити нову одиницю виміру</h4>
    <div class="card-block">
        <form class="form-inline" [formGroup]="addForm" (ngSubmit)="addItem()" style="text-align:center">
            <div class="form-group">
                <input class="form-control" type="text" name="name" formControlName="name" placeholder="Назва">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!addForm.valid">
              <i class="fa fa-floppy-o"></i>Добавити</button>
        </form>
    </div>
</container>