<container>
    <div class="card-block" *ngIf="countLoading == loadingTotal">
        <h4 class="card-header">{{_title}} </h4>
        <container>
            <form class="form-inline" [formGroup]="addRecruitmentForm" (ngSubmit)="saveRecruitment()" 
                style="text-align:center" novalidate>
                <row>
                    <label for="companyId">Організація</label>
                    <select class="form-control" formControlName="companyId">
                        <option *ngFor="let itemC of companies" [value]="itemC._id"
                            [selected]="addRecruitmentForm.controls.companyId.value._id == itemC._id">
                            {{itemC.name}}
                        </option>
                    </select>
                </row>
                <row>
                    <label for="number">Номер документа</label>
                    <input class="form-control" type="text" name="number" formControlName="number" placeholder="Номер документа">
                </row>
                <row>
                    <label for="number">Дата документа</label>
                    <input class="form-control" type="date" name="date" formControlName="date" placeholder="Дата документа">
                </row>
                <row>
                    <h4>Деталі</h4>
                </row>
                <button class="btn btn-sm btn-danger" (click)="addDetailRecruitment()">
                    <i class="fa fa-plus">Добавити</i>
                </button>
                <row>
                    <column md=1>
                        <h3>№</h3>
                    </column>
                    <column md=1>
                        <h3>ФИО</h3>
                    </column>
                    <column md=1>
                        <h3>Посада</h3>
                    </column>
                    <column md=1>
                        <h3>Дата Прийому</h3>
                    </column>
                    <column md=1>
                        <h3>Дата звільнення</h3>
                    </column>
                    <column md=1>
                        <h3>Оклад</h3>
                    </column>
                    <column md=1>
                        <h3>Ставка</h3>
                    </column>
                    <column md=1>
                        <h3>Місце роботи</h3>
                    </column>
                    <column md=1>
                        <h3>Бюджет</h3>
                    </column>
                    <column md=1>
                        <h3>Види нарахувань</h3>
                    </column>
                    <column md=1>
                        <h3>Дії</h3>
                    </column>
                </row>
                <div formArrayName="details">
                    <div *ngFor="let detail of addRecruitmentForm.controls.details.controls; let i = index">
                        <div [formGroupName]="i">
                            <div *ngIf="editRow == undefined">
                                <row>
                                    <column md=1>
                                        {{i+1}}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.individualId.value.fio}}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.positionId.value.name}}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.dateReceipt.value}}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.dateDismissal.value}}
                                    </column>
                                    <column md=1>
                                        {{ detail.controls.salary.value }}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.rate.value}}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.mainWorkId.value.name}}
                                    </column>
                                    <column md=1>
                                        {{detail.controls.typeBudgetId.value.name}}
                                    </column>
                                    <column md=1>
                                        <span *ngFor="let type of detail.controls.charges.value">
                                            {{type.controls.typeChargeId?.value?.name}},
                                        </span>
                                    </column>
                                    <column md=1>
                                        <button class="btn btn-sm btn-warning" (click)="enableDetailEditing(i)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                        <button class="btn btn-sm btn-danger" (click)="deleteDetailRecruitment(i)">
                                    <i class="fa fa-trash"></i>
                                </button>
                                    </column>
                                </row>
                            </div>

                            <div *ngIf="editRow == i">
                                <row>
                                    <label>Норме рядка: </label> {{i+1}}
                                </row>
                                <row>
                                    <label>Співробітник</label>
                                    <select (change)="editDetail($event, i, 'individualId')" formControlName="individualId">
                                        <option *ngFor="let itemI of individuals" [value]="itemI._id" 
                                            [selected]="detail.controls.individualId.value._id == itemI._id">{{itemI.fio}}</option>
                                    </select>
                                </row>
                                <row>
                                    <label>Посада</label>
                                    <select (change)="editDetail($event, i, 'positionId')" formControlName="positionId">
                                        <option *ngFor="let itemP of positions" [value]="itemP._id" 
                                            [selected]="detail.positionId?._id == itemP._id">{{itemP.name}}</option>
                                    </select>
                                </row>
                                <row>
                                    <label for="number">Дата прийому</label>
                                    <input class="form-control" type="date" formControlName="dateReceipt" 
                                        placeholder="Дата прийому">
                                </row>
                                <row>
                                    <label for="number">Дата звільнення</label>
                                    <input class="form-control" type="date" formControlName="dateDismissal" placeholder="Дата звільнення">
                                </row>
                                <row>
                                    <label for="number">Оклад</label>
                                    <input class="form-control" type="number" formControlName="salary" placeholder="Оклад">
                                </row>
                                <row>
                                    <label for="number">Ставка (шт.)</label>
                                    <input class="form-control" type="number" step="0.01" formControlName="rate" value="{{detail.rate}}" placeholder="Ставка (шт.)">
                                </row>
                                <row>
                                    <label for="number">Вид зайнятості</label>
                                    <select (change)="editDetail($event, i, 'mainWorkId')" formControlName="mainWorkId">
                                        <option *ngFor="let itemW of typeWorks" [value]="itemW._id" 
                                            [selected]="detail.mainWorkId?._id == itemW._id">{{itemW.name}}</option>
                                    </select>
                                </row>
                                <row>
                                    <label for="number">Тип бюджету</label>
                                    <select (change)="editDetail($event, i, 'typeBudgetId')" formControlName="typeBudgetId">
                                <option *ngFor="let itemTB of typeBudgets" [value]="itemTB._id" 
                                    [selected]="detail.typeBudgetId?._id == itemTB._id">{{itemTB.name}}</option>
                                </select>
                                </row>
                                <row>
                                    <h4>Типи нарахувань</h4>
                                </row>
                                <row>
                                    <column md=2>
                                        <h5>Назва</h5>
                                    </column>
                                    <column md=3>
                                        <h5>Кількість</h5>
                                    </column>
                                    <column md=1>
                                        <h5>Дії</h5>
                                    </column>
                                </row>
                                <div formArrayName="charges">
                                    <row *ngFor="let type of detail.controls.charges.controls; let iT = index">
                                        <div [formGroupName]="iT">
                                        <column md=2>
                                            <select (change)="editTypeCharges($event, i, iT, 'typeChargeId')" formControlName="typeChargeId">
                                    <option *ngFor="let item of typesCharges" [value]="item._id"
                                        [selected]="type.typeChargeId?._id == item._id">{{item.name}}</option>
                                </select>
                                        </column>
                                        <column md=3>
                                            <input class="form-control" type="number" formControlName="count" (change)="editTypeCharges($event, i, iT, 'count')" value="{{type.count}}"
                                                placeholder="Значение">
                                        </column>
                                        <column md=1>
                                            <button class="btn btn-sm btn-danger" (click)="deleteTypeCharge(type)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </column>
                                    </div>                                    
                                    </row>
                                    <br><br>
                                    <row>
                                        <button class="btn btn-sm btn-danger" (click)="editRow = undefine;">
                                <i class="fa fa-floppy-o"> Закінчити редагування рядка</i>
                            </button>
                                    </row>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit" [disabled]="!addRecruitmentForm.valid">
                    <i class="fa fa-floppy-o"></i>{{_title_button}}
                </button>
            </form>
        </container>
        ФОрма
        <pre>{{addRecruitmentForm.value | json}}</pre>
    </div>
</container>