<container>
    <div class="card-block" *ngIf="countLoading == loadingTotal">
        <h4 class="card-header">{{_title}} </h4>
        <container>
            <form class="form-inline" [formGroup]="addItemForm" (ngSubmit)="saveItem()" 
                style="text-align:center" novalidate>
                <row>
                    <label for="companyId">Організація</label>
                    <select class="form-control" formControlName="companyId">
                        <option *ngFor="let itemC of companies" [value]="itemC._id"
                            [selected]="addItemForm.controls.companyId.value._id == itemC._id">
                            {{itemC.name}}
                        </option>
                    </select>
                </row>
                <row>
                    <label for="number">Номер документа</label>
                    <input class="form-control" type="text" name="number" formControlName="number" placeholder="Номер документа">
                </row>
                <row>
                    <label for="number">Дата документа</label>
                    <input class="form-control" type="date" name="date" formControlName="date" placeholder="Дата документа">
                </row>
                <row>
                    <column md=1>
                        <h3>№</h3>
                    </column>
                    <column md=1>
                        <h3>ФИО</h3>
                    </column>
                    <column md=1>
                        <h3>Посада</h3>
                    </column>
                    <column md=1>
                        <h3>Дата Прийому</h3>
                    </column>
                    <column md=1>
                        <h3>Дата звільнення</h3>
                    </column>
                    <column md=1>
                        <h3>Оклад</h3>
                    </column>
                    <column md=1>
                        <h3>Ставка</h3>
                    </column>
                    <column md=1>
                        <h3>Місце роботи</h3>
                    </column>
                    <column md=1>
                        <h3>Бюджет</h3>
                    </column>
                    <column md=1>
                        <h3>Види нарахувань</h3>
                    </column>
                    <column md=1>
                        <h3>Дії</h3>
                    </column>
                </row>
                <div>
                    <div>
                        <div class = 'row'>
                            <div>
                                <row>
                                    <label>Співробітник</label>
                                    <select formControlName="individualId">
                                        <option *ngFor="let itemI of individuals" [value]="itemI._id">{{itemI.fio}}</option>
                                    </select>
                                </row>
                                <row>
                                    <label>Посада</label>
                                    <select formControlName="positionId">
                                        <option *ngFor="let itemP of positions" [value]="itemP._id">{{itemP.name}}</option>
                                    </select>
                                </row>
                                <row>
                                    <label for="number">Дата прийому</label>
                                    <input class="form-control" type="date" formControlName="dateReceipt" 
                                        placeholder="Дата прийому">
                                </row>
                                <row>
                                    <label for="number">Дата звільнення</label>
                                    <input class="form-control" type="date" formControlName="dateDismissal" placeholder="Дата звільнення">
                                </row>
                                <row>
                                    <label for="number">Оклад</label>
                                    <input class="form-control" type="number" formControlName="salary" placeholder="Оклад">
                                </row>
                                <row>
                                    <label for="number">Ставка (шт.)</label>
                                    <input class="form-control" type="number" step="0.01" formControlName="rate" placeholder="Ставка (шт.)">
                                </row>
                                <row>
                                    <label for="number">Вид зайнятості</label>
                                    <select formControlName="mainWorkId">
                                        <option *ngFor="let itemW of typeWorks" [value]="itemW._id">{{itemW.name}}</option>
                                    </select>
                                </row>
                                <row>
                                    <label for="number">Тип бюджету</label>
                                    <select formControlName="typeBudgetId">
                                <option *ngFor="let itemTB of typeBudgets" [value]="itemTB._id">{{itemTB.name}}</option>
                                </select>
                                </row>
                                <row>
                                    <h4>Типи нарахувань</h4>
                                </row>
                                <row>
                                    <button class="btn btn-sm btn-danger" (click)="addCharges()">
                                        <i class="fa fa-floppy-o">Додати нарахування</i>
                                    </button>
                                </row>
                                <row>
                                    <column md=2>
                                        <h5>Назва</h5>
                                    </column>
                                    <column md=3>
                                        <h5>Кількість</h5>
                                    </column>
                                    <column md=1>
                                        <h5>Дії</h5>
                                    </column>
                                </row>
                                <div formArrayName="charges">
                                    <row *ngFor="let type of addItemForm.controls.charges.controls; let i = index">
                                        <div [formGroupName]="i">
                                            <column md=2>
                                                <select formControlName="typeChargeId">
                                                    <option *ngFor="let item of typesCharges">{{item.name}}</option>
                                                </select>
                                            </column>
                                            <column md=3>
                                                <input class="form-control" type="number" formControlName="count" placeholder="Значенння">
                                            </column>
                                            <column md=1>
                                                <button class="btn btn-sm btn-danger" (click)="deleteCharges(i)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </column>
                                        </div>
                                    </row>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit" [disabled]="!addItemForm.valid">
                    <i class="fa fa-floppy-o"></i>{{_title_button}}
                </button>
            </form>
        </container>
        ФОрма
        <pre>{{addItemForm.value | json}}</pre>
        </div>
</container>