<container>
    <h4 class="card-header">{{_title}} </h4>
    <div class="card-block" *ngIf="!isLoading">
        <container *ngIf="!isEditing">
            <row>
                <column md=2>
                    <h3>Організація</h3>
                </column>
                <column md=2>
                    <h3>Номер</h3>
                </column>
                <column md=2>
                    <h3>Дата</h3>
                </column>
            </row>
            <row>
                <column md=2>
                    {{item.companyId.name}}
                </column>
                <column md=2>
                    {{item.number}}
                </column>
                <column md=2>
                    {{item.date | date: 'dd/MM/yyyy'}}
                </column>
            </row>
            <row>          
                <column md=1>
                    <h3>ФИО</h3>
                </column>
                <column md=1>
                    <h3>Посада</h3>
                </column>
                <column md=2>
                    <h3>Дата Прийому</h3>
                </column>
                <column md=2>
                    <h3>Дата звільнення</h3>
                </column>
                <column md=1>
                    <h3>Оклад</h3>
                </column>
                <column md=1>
                    <h3>Ставка</h3>
                </column>
                <column md=1>
                    <h3>Місце роботи</h3>
                </column>
                <column md=1>
                    <h3>Бюджет</h3>
                </column>
                <column md=1>
                    <h3>Види нарахувань</h3>
                </column>                
            </row>
            <row>
                <column md=1>
                    {{item.individualId.fio}}
                </column>
                <column md=1>
                    {{item.positionId.name}}
                </column>
                <column md=2>
                    {{item.dateReceipt | date: 'dd.MM.yyyy'}}
                </column>
                <column md=2>
                    {{item.dateDismissal | date: 'dd.MM.yyyy'}}
                </column>
                <column md=1>
                     {{item.salary}}
                </column>
                <column md=1>
                     {{item.rate}}
                </column>
                <column md=1>
                     {{item.mainWork}}
                </column>
                <column md=1>
                    {{item.typeBudgetId.name}}
                </column>
                <column md=1>
                    <span *ngFor="let type of item.charges">
                        {{type.typeChargeId.name}}, 
                    </span>
                </column>                
            </row>
            <br><br>
            <row>
                <br><br>
                <button class="btn btn-sm btn-danger" (click)="returnToList()">
                        <i class="fa fa-trash">Повернутись</i>
                </button>
            </row>
        </container>
        <container *ngIf="isEditing">
            <form class="form-inline" [formGroup]="addRecruitmentForm" (ngSubmit)="addRecruitment()" style="text-align:center">
                <row>
                    <label for="companyId">Організація</label>
                    <input class="form-control" [(ngModel)]="item.companyId" type="text" name="companyId" formControlName="companyId" value="{{item.companyId?.name}}" placeholder="Організація">
                </row>
                <row>
                    <label for="number">Номер документа</label>
                    <input class="form-control" [(ngModel)]="item.number" type="text" name="number" formControlName="number" placeholder="Номер документа">
                </row>
                <row>
                    <label for="number">Дата документа</label>
                    <input class="form-control" [(ngModel)]="item.date" type="text" name="date" formControlName="date" placeholder="Дата документа">
                </row>
                <div>
                    <row>
                        <label for="number">Співробітник</label>
                        <input class="form-control" type="text" value="{{item.individualId.fio}}" placeholder="Співробітник">
                    </row>
                    <column md=1>
                        {{item.individualId.fio}}
                    </column>
                    <column md=1>
                        {{item.positionId.name}}
                    </column>
                    <column md=2>
                        {{item.dateReceipt | date: 'dd.MM.yyyy'}}
                    </column>
                    <column md=2>
                        {{item.dateDismissal | date: 'dd.MM.yyyy'}}
                    </column>
                    <column md=1>
                        {{item.salary}}
                    </column>
                    <column md=1>
                        {{item.rate}}
                    </column>
                    <column md=1>
                        {{item.mainWork}}
                    </column>
                    <column md=1>
                        {{item.typeBudgetId.name}}
                    </column>
                    <column md=1>
                        <span *ngFor="let type of item.charges">
                                        {{type.typeChargeId.name}}, 
                                    </span>
                    </column>
                </div>

                <!--row *ngFor="let type of position.typeChargeIds">
                    <select (change)="addTypeCharges($event)">
                        <option *ngFor="let item of typesCharges" [value]="item._id" [selected]="type._id == item._id">{{item.name}}</option>
                    </select>
                    <button class="btn btn-sm btn-danger" (click)="deleteTypeCharge(type)">
                        <i class="fa fa-trash"></i>
                    </button>
                </row-->
                <row>
                    <select (change)="addTypeCharges($event)">
                    <option *ngFor="let item of typesCharges" [value]="item._id">{{item.name}}</option>
                </select>
                </row>

                <button class="btn btn-primary" type="submit" [disabled]="!addRecruitmentForm.valid">
              <i class="fa fa-floppy-o"></i>{{_title_button}}</button>
            </form>
        </container>
    </div>
</container>